#aboutme {
  background: #eaedf2;
  padding: 100px 0px;

  .imgbox {
    position: relative;
    img {
      border: 14px solid #ffffff;
      border-radius: 5px;
    }
    ul {
      position: absolute;
      top: 50px;
      left: 5px;
      background: white;
      padding: 10px;
    }
    li {
      width: 34px;
      line-height: 34px;
      text-align: center;
      background: #d9832e;
      margin: 3px 0;
      font-size: 12px;
      a {
        color: white;
      }
      &:hover {
        background: #090a0c;
      }
    }
  }
  h3 {
    font-weight: 600;
    font-size: 30px;
    margin: 0 0 15px;
    color: #090a0c;
  }
  h4 {
    color: #090a0c;
    font-weight: 400;
    margin: 0 0 20px;
    font-size: 18px;
    span {
      color: #d9832e;
    }
  }
  h5 {
    font-family: $font;
    font-size: 15px;
    color: #555a64;
    font-weight: 400;
    line-height: 1.6;
  }
  .tab {
    display: flex; 
     align-items: flex-start;
    font-family: $font;
    font-size: 15px;
    color: #555a64;
    font-weight: 400;
    line-height: 1.6;
    padding: 6px 0;
    p {
      padding-left: 15px;
      font-size: 14px;
    }
    label {
      color: #090a0c;
      font-weight: 500;
      font-size: 14px;
      flex: 0 0 90px;
      border-right: 1px solid #c1c1c1;
      max-width: 90px;
    }
  }
  .btn{
    padding: 10px 20px;
    font-size: 14px;
    background: #d9832e;
    font-weight: 500;
    color: white;
    border-radius: 0px;
    margin: 28px 0px 0px 14px;
    transition: 1s;
    &:hover{
        background: #090a0c;
    }
  }
}
