#home {
  color: white;
  background-image: url(../imgs/bg1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.8;
  }
  h3 {
    font-size: 80px;
    font-weight: 600;
    margin: 0 0 25px;
    line-height: 1.3;
  }
  h6 {
    font-size: 24px;
    margin: 0 0 8px;
  }
  li {
    background: rgba(255, 255, 255, 0.13);
    margin: 0 3px;
    padding: 7px 20px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 30px;
    letter-spacing: 1px;
  }

  .animation {
    @keyframes icondown {
      from {
        bottom: 30px;
        opacity: 1;
      }
      to {
        bottom: 10px;
        opacity: 0;
      }
    }
    animation: icondown 1s infinite;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    width: 35px;
    margin: auto;
    text-align: center;
    a {
      width: 35px;
      height: 35px;
      position: relative;
      display: inline-block;
      background: #ffffff;
      border-radius: 50%;
      span {
        border-top: 1px solid #090a0c;
        border-right: 1px solid #090a0c;
        width: 10px;
        height: 10px;
        position: absolute;
        top: -6px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        transform: rotate(135deg);
      }
    }
  }
  @media screen and (max-width: 800px) {
    h3{
      font-size: 40px;
    line-height: .8;
    }
  }
}
