#myservices {
  background: #eaedf2;
  padding: 100px 0px;
  .box {
    transition: 0.5s;
    padding: 35px 25px;
    background: white;
    margin: 20px 0px;
    border-radius: 6px;
    h3 {
      font-weight: 500;
      font-size: 16px;
      margin: 0 0 12px;
    }
    h4 {
      font-size: 15px;
      color: rgba(0, 0, 0, 0.6);
      font-weight: 400;
      line-height: 1.6;
    }
    .icon {
      width: 80px;
      height: 80px;
      line-height: 80px;
      text-align: center;
      border-radius: 50%;
      border: 2px dotted #d9832e;
      color: #d9832e;
      font-size: 32px;
      margin-bottom: 22px;
    }

    &:hover {
      background: #d9832e;
      border-color: #d9832e;
      margin-top: 5px;
      margin-bottom: 35px;
      .icon{
          border: 2px dotted  white;
          color: white;
      }
      h3{
          color: white;
      }
    }
  }
}
